.aboutPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.aboutContainer {
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 400;
    font-size: 1.5em;
    overflow: hidden;
}

.aboutBackButton {
    cursor: pointer;
}

.aboutWrapper {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}

#photography , #subjects , #website , #productionAssistant  {
    padding-bottom: 10px;
}

#siteBio{
    padding-bottom:50px; 
}

/* @media (min-height: 400px) and (min-width: 900px){
    .aboutContainer #siteBio{
        font-size: 1.3em;
    }
    .aboutWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #photography div, #subjects div, #website div, #productionAssistant div  {
        font-size: .9em;
        padding-bottom: 8px;
        
    }
    #photography span, #subjects span, #website span, #productionAssistant span  {
        font-size: .9em;
        padding-bottom: 15px;
    }
  
}   

@media (min-height: 400px){
    .aboutContainer {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .aboutWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #siteBio{
        font-size: .9em;
    }

    #photography div, #subjects div, #website div, #productionAssistant div  {
        font-size: .75em;
        font-weight: 100;
        padding-bottom: 8px;
        
    }
    #photography span, #subjects span, #website span, #productionAssistant span  {
        font-size: .75em;
        font-weight: 100;
        padding-bottom: 15px;
    }
} */
