@font-face {
    font-family: HNR;
    src: url(../fonts/helveticaneue.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #F1F1EF;
    color: #0D0D0E;
    font-family: HNR;
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.bodyDarkMode {
    background-color: #0D0D0E;
    color: #F1F1EF;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.header {
    padding: 5px;
    font-size: 1.3em;
    font-weight: 400;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    padding-top: 0px;
    letter-spacing: -0.01em;
    z-index: 4;
}

.header a {
    margin-top: 0px;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
    opacity: 0;
}

.header a:after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #0D0D0E;
    transition: width 0.2s ease-in-out;
    bottom: -3px;
    left: 0;
}

.header a:hover::after {
    width: 100%;
}

.headerDarkMode a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #F1F1EF;
    transition: width 0.2s ease-in-out;
    bottom: -3px;
    left: 0px;
}

.headerDarkMode a:hover::after {
    width: 100%;
}

.navMenu {
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toggleButton {
    height: 20px;
    width: 20px;
    background-color: #0D0D0E;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    cursor: pointer;
}

.printButton {
    cursor: pointer;
}

.aboutButton {
    cursor: pointer;
}

.buttonDarkMode {
    background-color: #F1F1EF;
}

.pageContent{
    padding-top: 45px;
}

.logoContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.logo {
    height: fit-content; 
}

.slideshow {
    margin-top: 200px;
}

.logoDarkMode {
    display: none;
}

.logoMask {
    position: absolute;
    background-color: #F1F1EF;
    height: 100%;
    width: 100%;
}

.carouselContainer {
    height: 100vh;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
}

.carouselContainer img {
    display: inline-block;
    opacity: 0;
    width: 700px;
    padding: 50px;
} 

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.carouselContainer .imageWrapper:nth-child(even) {
    z-index: 0;
    padding-right: 100px;
    padding-top: 350px;
}

.carouselContainer .imageWrapper:nth-child(odd) {
    z-index: 0;
    padding-right: 100px;
    padding-bottom: 350px;
}

@media only screen and (min-width: 390px) and (max-width: 844px) {
    .navMenu {
        margin: 5px;
    }

    .logo{
        width: 370px;
    }

    .carouselContainer {
        height: 100vh;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        padding: 0;
    }

    .carouselContainer img {
        display: inline-block;
        opacity: 0;
        width: 500px;
        padding: 0px;
    } 

    .carouselContainer .imageWrapper:nth-child(even) {
        z-index: 0;
        padding-right: 100px;
        padding-bottom: 0px;
        padding-left: 11px;
        margin: 0px;
    }

    .carouselContainer .imageWrapper:nth-child(odd) {
        z-index: 0;
        padding-right: 100px;
        padding-top: 250px;
        padding-left: 0px;
        margin: 0px;
        margin-left: -15px;
    }
}
