@font-face {
    font-family: HNR;
    src: url(../fonts/helveticaneue.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #F1F1EF;
    color: #0D0D0E;
    font-family: HNR;
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.printButton {
    cursor: pointer;
}

.aboutButton {
    cursor: pointer;
}

.buttonDarkMode {
    background-color: #F1F1EF;
}

.pageContent{
    padding-top: 45px;
}

.logoContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.logo {
    height: fit-content; 
}

.slideshow {
    margin-top: 200px;
}

.logoDarkMode {
    display: none;
}

.logoMask {
    position: absolute;
    background-color: #F1F1EF;
    height: 100%;
    width: 100%;
}

.carouselContainer {
    height: 100vh;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
}

.carouselContainer img {
    display: inline-block;
    opacity: 0;
    width: 700px;
    padding: 50px;
} 

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.carouselContainer .imageWrapper:nth-child(even) {
    z-index: 0;
    padding-right: 100px;
    padding-top: 350px;
}

.carouselContainer .imageWrapper:nth-child(odd) {
    z-index: 0;
    padding-right: 100px;
    padding-bottom: 350px;
}

/* @media (max-height: 389px){
    .logo{
        width: 200px;
    }
}

@media only screen and (max-height: 390px) and (max-width: 844px) {
    .logo{
        width: 370px;
    }

    .carouselContainer {
        height: 100vh;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        padding: 0;
    }

    .carouselContainer img {
        display: inline-block;
        opacity: 0;
        width: 500px;
        padding: 0px;
    } 

    .carouselContainer .imageWrapper:nth-child(even) {
        z-index: 0;
        padding-right: 100px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin: 0px;
    }

    .carouselContainer .imageWrapper:nth-child(odd) {
        z-index: 0;
        padding-right: 100px;
        padding-top: 250px;
        padding-left: 0px;
        margin: 0px;
    }
    .carouselContainer .imageWrapper:nth-child(1){
        margin-left: -5px;
    }
    .carouselContainer .imageWrapper:nth-child(22){
        margin-right: -5px;
    }
}

@media (max-height: 400px){

    .logo{
        height: 100px;   
    }

    .carouselContainer {
        height: 100vh;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        padding: 0;
    }

    .carouselContainer img {
        display: inline-block;
        opacity: 0;
        width: 500px;
        padding: 0px;
    } 

    .carouselContainer .imageWrapper:nth-child(even) {
        z-index: 0;
        padding-right: 100px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin: 0px;
    }

    .carouselContainer .imageWrapper:nth-child(odd) {
        z-index: 0;
        padding-right: 100px;
        padding-top: 250px;
        padding-left: 0px;
        margin: 0px;
    }
    .carouselContainer .imageWrapper:nth-child(1){
        margin-left: -5px;
    }
    .carouselContainer .imageWrapper:nth-child(22){
        margin-right: -5px;
    }
}

@media (max-width: 280px){

    .logo{
        width: 250px;
    }

    .toggleButton{
        height: 10px;
        width: 10px;
    }
} */
